/* Main dashboard container */
.dashboard {
  font-family: Inter, sans-serif;
  color: #222222;
  background-color: #d9deec;
  padding: 2rem;
}

/* Header at the top */
.header {
  text-align: center;
  margin-bottom: auto;
}

/* Card style selections */
.score-section,
.gaps-section,
.compliance-section {
  background-color: #7b859c;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(86,93,109);
}

/* Footer at the bottom */
.footer {
  text-align: center;
  font-size: 1rem;
  color: #212d3e;
}



